*{
    margin: 0;
    padding: 0
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
header{

background-color: #f6f9f9;

padding: 20px 0;
}
.header_wrapper{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;

align-items: center;
}
.logo{

width: 20%;
}
.logo img{
    
}
nav{

width: 50%;
}
nav ul{
    display: flex;
    justify-content: end;
}
nav ul li{

list-style: none;
}
nav ul li a{

text-decoration: none;

text-transform: uppercase;

margin-left: 40px;

color: #2d3950;

font-family: 'Lato', sans-serif;

font-weight: 400;

font-size: 13px;
}
.banner{background-image: url(../images/banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 90vh;display: flex;
	justify-content: center;
	align-items: center;}
.banner_content{


width: 30%;

text-align: center;
}
.banner_content h1{

color: black;

text-transform: uppercase;

font-size: 90px;

color: #ffffff;

font-family: 'Lato', sans-serif;

margin-block: 10px;

font-weight: 700;
}
.banner_content span{
    
display: block;
    
height: 2px;
    
width: 100%;
    
background-color: #15a4fa;
}
.banner_content p{
    
margin: 20px 0 50px 0;
    
color: #ffffff;
    
font-family: 'Lato', sans-serif;
    
font-weight: 400;
    
font-size: 15px;
}
.banner_content button{
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #15a4fa;
    transition: .4s all ease-in-out;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
.banner_content button:hover{
    background-color: #15a4fa;
    color:#ffffff
}
.feature_text{

background-color: #f6f9f9;

padding: 70px 0;
}
.main_text{

width: 80%;

margin: auto;

text-align: center;
}
.main_text h1{
    
color: #2d3950;
    
font-family: 'Lato', sans-serif;
    
margin-bottom: 20px;
    
font-weight: 400;
    
font-size: 35px;
}
.main_text p{
    
color: #999999;
    
font-family: 'Lato', sans-serif;
    
font-weight: 400;
    
font-size: 18px;
}
.feature_icon{

width: 80%;

margin: auto;

text-align: center;

padding: 50px;
}
.main_icon{
    
display: flex;
    
justify-content: space-between;
    
align-items: center;
}
.items{

width: 27%;
}
.items_image{

background-color: #15a4fa;

width: 70px;

height: 70px;


position: relative;

margin: auto;
}
.items_image img{

position: absolute;

top: 50%;

left: 50%;

transform: translate(-50%, -50%);

}
.items h2{
    
color: #2d3950;
    
margin-top: 15px;
    
font-family: 'Lato', sans-serif;
    
font-weight: 400;
    
font-size: 20px;
}
.items p{
    
color: #999999;
    
margin-top: 15px;
    
font-family: 'Lato', sans-serif;
    
font-weight: 400;
    
font-size: 14px;
}